.container {
    display: flex;
    justify-content: flex-start;
    margin-left: 0px;
    margin-top: 5px;
}

.box {
    flex: 1;
    /* 子要素を均等に伸縮させる */
    padding: 10px;
    border: 1px solid #000;
}